*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    min-height: 100vh;
    
}
header {
     padding: 15px 0;
      background: #fff;
       display: inline-block;
        width: 100%; 
        top: 0;
         left: 0;
          z-index: 999; 
          position: fixed;
           -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s; 
            -ms-transition: all 0.3s ease-out 0s;
             -o-transition: all 0.3s ease-out 0s;
              transition: all 0.3s ease-out 0s; 
            }
header .navbar {
     padding: 0; 
    }
header .navbar .navbar-brand { 
    padding: 0; 
}
header .navbar .navbar-brand img {
     height: 50px;
      -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s; 
       -ms-transition: all 0.3s ease-out 0s; 
       -o-transition: all 0.3s ease-out 0s; 
       
       transition: all 0.3s ease-out 0s; }
header .navbar.navbar-light .navbar-nav li { 
    padding: 0 15px; 
}
header .navbar.navbar-light .navbar-nav li a {
     font-size: 16px; padding: 0; color: #a3a3a3; font-family: 'Asap', sans-serif; }
header .navbar.navbar-light .navbar-nav li a.active, header .navbar.navbar-light .navbar-nav li a:hover {
     color: #00c9ff; 
    }
header .navbar.navbar-light .nav li { 
    padding: 0 8px;
    list-style-type: none;
 }
header .navbar.navbar-light .nav li a { 
    font-size: 22px;
     line-height: normal;
      padding: 0; 
      color: #a3a3a3; 
    }
header.menu-sticky { 
    position: fixed;
     padding: 10px 0;
      top: 0; left: 0;
       display: inline-block;
        width: 100%; 
        background: #fff; 
        -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); 
         box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
         }
header.menu-sticky  .navbar .navbar-brand img {
     height: 40px;
     }

/* Header transparent */
header.transparent { 
    background: transparent; 
}
header.transparent.menu-sticky { 
    background: #fff; 
}

/* Search 02 */
header#header-fullpage { 
    background: transparent; 
}
header#header-fullpage .container-fluid {
     padding: 0 30px; 
    }
header#header-fullpage:hover {
     background: #fff; 
     -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
       box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1); }
header#header-fullpage .navbar-nav {
     display: none; 
    }
header#header-fullpage:hover .navbar-nav {
     display: flex; 
    }
header#header-fullpage .logo-two {
     display: none;
     }

     .fp-viewing-2 header#header-fullpage .logo-one, .fp-viewing-2 header#header-fullpage:hover .logo-two, .fp-viewing-4 header#header-fullpage .logo-one, .fp-viewing-4 header#header-fullpage:hover .logo-two, .fp-viewing-6 header#header-fullpage .logo-one, .fp-viewing-6 header#header-fullpage:hover .logo-two, .fp-viewing-9 header#header-fullpage .logo-one, .fp-viewing-9 header#header-fullpage:hover .logo-two, .fp-viewing-10 header#header-fullpage .logo-one, .fp-viewing-10 header#header-fullpage:hover .logo-two { display: none; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
     .fp-viewing-2 header#header-fullpage .logo-two, .fp-viewing-2 header#header-fullpage:hover .logo-one, .fp-viewing-4 header#header-fullpage .logo-two, .fp-viewing-4 header#header-fullpage:hover .logo-one, .fp-viewing-6 header#header-fullpage .logo-two, .fp-viewing-6 header#header-fullpage:hover .logo-one, .fp-viewing-9 header#header-fullpage .logo-two, .fp-viewing-9 header#header-fullpage:hover .logo-one, .fp-viewing-10 header#header-fullpage .logo-two, .fp-viewing-10 header#header-fullpage:hover .logo-one { display: block; }
     
     /* Search 02 */
     .iq-search { position: relative; margin-right: 15px; }
     .iq-search .search-btn { color: #222; -o-transition: color 300ms ease 0s; -moz-transition: color 300ms ease 0s; -ms-transition: color 300ms ease 0s; -webkit-transition: color 300ms ease 0s; transition: color 300ms ease 0s; }
     .iq-search.search-open .search-btn { color: #00c9ff; }
     .iq-search .search-btn span { font-size: 0; display: none; }
     .iq-search .search-btn:before { content: "\e86f"; font-family: 'Linearicons-Free'; font-weight: normal; left: 0; position: absolute; text-indent: 0; top: -11px; }
     .iq-search.search-open .search-btn:before { content: "\e870 "; }
     .search-box { background: #fff; display: block; margin: 0; opacity: 0 !important; padding: 15px; position: absolute; right: 0; top: -9999px !important; transition: visibility 300ms ease 0s, opacity 300ms ease 0s; visibility: hidden; width: 327px; z-index: 888; -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
     .iq-search.search-open .search-box { opacity: 1 !important; top: 46px !important; visibility: visible !important; }
     .iq-search .search-box input { background: transparent; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: 1px solid #eee; padding-left: 15px; box-shadow: none; color: #666; }
     .iq-search .search-box input:focus { background: transparent; border: 1px solid #00c9ff; }
     .iq-search i { cursor: pointer; font-size: 18px; position: absolute; right: 27px; top: 28px; }
     .iq-search.search-open i:hover { color: #00c9ff; }
     header.menu-sticky .iq-search.search-open .search-box { top: 30px !important; }
     
     
.content{
    position: relative;
    margin-left: 150px;
    margin-top: 150px;

}
.content h2{
    position: absolute;
    transform: translate(0);
    font-size: 8rem;
    text-transform: uppercase;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
}
.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}
.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 3s ease-in-out infinite;
}

.box{
    width:500px;
    height: 300px;
    border: 10px solid rgb(51, 35, 145);
    border-radius: 10px;
    line-height: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin-left: 200px;
    margin-top: 50px;
}
.box:before{
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #03a9f4;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: fill 7s ease-in-out infinite;
    z-index: -1;
}
 .text {
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-bottom: 50px;

} 
.mycontainer .mycard{
    position: relative;
    margin-left: 100px;

}
.mycontainer .mycard .face{
    width: 500px;
    height: 400px;
    transition: 0.5s;
}
.mycontainer .mycard .face.face1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transform: translateY(50px);
}
.mycontainer .mycard:hover .face.face1{
    background: cornflowerblue;
}
.mycontainer .mycard .face.face2 .content{
    opacity: 0.2;
    transition: 0.5s;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.mycontainer .mycard .face.face1 .content img{
    max-width: 300px;
    border-radius: 50px;
    margin: 0;
    
}
.mycontainer .mycard .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #111;
    text-align: center;
    font-size: 1.5rem;
}
.mycontainer .mycard:hover .face.face1 .content{
    opacity: 1;
    margin: 0;
    padding: 0;
    
}
.mycontainer .mycard:hover .face.face2 .content{
    opacity: 1;
    margin: 0;
    padding: 0;
    
}
.mycontainer .mycard .face.face2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-350px);
}
.mycontainer .mycard .face.face2 .content p{
    margin: 0;
    padding: 0;
    
}
.mycontainer .mycard:hover .face.face2{
    transform: translateY(0);
}
/* .text p{
    text-align: justify;
    margin-top:50px;
    margin-left: 20px;
    margin-right: 100px;
    color: rgb(177, 174, 174);
    font-weight:100;
    line-height: 2;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
} */
/* h2{
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
.whitecolor{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
}
.whitecolor p{
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}
.pro-step{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 30px;
    font-size: 20px;
}
.pro-step:hover{
background-color: #fff;
color: black;
transition: ease;
} */
/* .bottom20{
    border-bottom:2px solid #fff;
} */ 
.gradient_bg{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* @keyframes animate{
    0%,100%{
        clip-path: polygon(0% 44%, 15% 45%, 28% 51%, 37% 56%, 53% 60%, 53% 60%, 60% 60%, 77% 58%, 86% 55%, 96% 50%, 100% 100%, 1% 98%);

    }
    50%
    {
        clip-path: polygon(0% 54%, 10% 58%, 22% 62%, 40% 60%, 55% 54%, 68% 48%, 83% 48%, 99% 53%, 99% 99%, 1% 99%);

    }
} */
@keyframes fill {
    from{
        top:250px;
        transform: translate(-50%) rotate(0deg);
    }
    to{
        top:-50px;
        transform: translate(-50%) rotate(360deg);
    }
}
@media only screen and (max-width:768px){
 body{
     overflow-x: hidden;
 }
 .box{
    width:350px;
    height: 300px;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 50px;
}

.text {
    display: inline;
}
.text p{
    margin-top: 10px;
    font-size: 1rem;
    margin-left: 0;
    width: 100%;
}
.text img{
    margin-top: 50px;
    margin-left: 0;
}
.content{
    margin-left: 10px;

}
.content h2{
    font-size: 2.5em;

}
}